@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}
/*
justify-center - centriranje vsebine po horizontalni osi
items-center - centriranje vsebine po vertikalni osi
flex-col - da so podatki v stolpcu
*/

@layer utilities{
  .heading{
    @apply uppercase bg-black px-6 py-6 font-sans font-extrabold text-primary sm:text-[54px] sm:leading-16 text-[55px] leading-[46px] max-w-5xl text-center;
    }
  .divH1{
    @apply max-w-[800px] min-h-[530px] py-7 px-6;
    }
  .opis{
    @apply py-5 text-[20px] text-black max-w-2xl;
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
