@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}
/*
justify-center - centriranje vsebine po horizontalni osi
items-center - centriranje vsebine po vertikalni osi
flex-col - da so podatki v stolpcu
w-[50vw] - div je zdej vedno širok za pol screena
justify-between - 1. element da na levo 2. na desno(če jih je več jih enakomirno razporedi)
*/

@layer utilities{
  .heading{
    @apply uppercase bg-black px-6 py-6 font-sans font-extrabold text-primary md:text-[40px] md:leading-[46px] text-[30px] leading-[47px] text-center;
  }
  .divH1{
    @apply md:w-[60vw] md:min-h-[300px] py-7 px-6 w-[50vw];
  }
  .divImg{
    @apply md:w-[40vw] md:min-h-[300px] py-7 px-6 w-[50vw];
  }
  .opis{
    @apply py-5 text-[15px] text-black max-w-3xl;
  }
  .h2{
    @apply font-sans font-extrabold text-center md:text-[30px] text-[20px];
  }
  .karticeDIV{
   @apply flex justify-center items-center gap-6 h-[300px];
  }
  .kartica{
    @apply bg-gray-950 rounded-lg overflow-hidden py-2 h-[220px] md:w-[250px] w-[125px];
  } 
  .kartica:hover {
  @apply bg-gray-700;
  }
  .text{
    @apply text-gray-400 font-sans py-5 text-center md:text-[15px] text-[10px];
  }
  .h3{
    @apply font-semibold md:text-[20px] text-center text-[10px];
  }
  .signForm{
    @apply max-w-[500px] p-10;
  }
  .signSection{
    @apply flex flex-col justify-center items-center min-h-[500px] overflow-hidden my-5 px-20 text-black text-[15px];
  }
  .input{
    @apply w-full p-2 border border-black rounded;
  }
  .logButton{
    @apply border cursor-pointer w-full p-2 rounded;
  }
  .cardDiv{
   @apply p-5 mb-5 flex-wrap gap-4 flex max-h-fit max-w-7xl;
  }
  .img:hover{
    @apply border-3 border-black;
  }
  .SearchForm{
    @apply bg-white mx-5 mb-2 border-2 border-black p-3 w-[300px] h-[50px] rounded-lg flex items-center justify-between gap-2;
  }
  .submit:hover{
    @apply cursor-pointer;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
